BasedOnStyle: Google
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AllowAllArgumentsOnNextLine: 'false'
AllowAllParametersOfDeclarationOnNextLine: 'false'
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: 'false'
BinPackArguments: 'false'
BinPackParameters: OnePerLine
ColumnLimit: '0'
IndentPPDirectives: BeforeHash
IndentWidth: '4'
PointerAlignment: Right
ReflowComments: IndentOnly
SortIncludes: 'false'
SpacesBeforeTrailingComments: 1
TabWidth: '4'
